<!--                              SearchModal                              -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" id="searchModalLabel">Search for a Images<a class="anchorjs-link" href="#searchModalLabel"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div class="modal-body">
  <div class="navbar navbar-default ">
          <form accept-charset="UTF-8" action="/search" method="post" class="navbar-form navbar-left">
            <div class="form-group">
              <input id="containers_image" name="image" class="form-control" placeholder="Images" type="text">
            </div>
            <button name="commit" type="POST" value="search" class="btn btn-success" >Find it !</button>
    </form>
  </div>
      </div>
      <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> 
  </div>
</div>
<!--                              SearchModal                              -->


<!--                              imagehModal                              -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
   <h4 class="modal-title" id="imageModalLabel">Create Container<a class="anchorjs-link" href="#imageModalLabel"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div class="modal-body">
 <div class="jumbotron">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <form accept-charset="UTF-8" action="/containers" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="containers_image">Image </label><h5 class="title_image">Image </h5><input type="hidden" id="containers_image" name="image" class="form-control" value="" placeholder="Images" type="text">
                    </div>
                    <div class="col-md-6">
                      <label for="containers_recipient">Name</label><input id="containers_name" name="name" class="form-control" placeholder="Name" type="text">
                    </div>
                  </div>
                  <br>
                  <label for="containers_cmd">Cmd </label><input id="containers_cmd" name="Cmd" class="form-control" placeholder="Cmd" type="text"> 
                  <br>
                  <label for="containers_cmd">hostname </label><input id="containers_hostname" name="hostname" class="form-control" placeholder="Hostname" type="text">
                  <br>
                  <label for="containers_cmd">PortBindings </label><input id="containers_PortBindings" name="PortBindings" class="form-control" placeholder="IP:Host-port:container-port" type="text">
                  <br>
                  <label for="containers_cmd">Env </label><input id="containers_env" name="env" class="form-control" placeholder="KEY:value;KEY2:value" type="text">
                  <br>
                  
                  <br>
                  <button name="commit" type="POST" value="containers" class="btn btn-success" >Create it !</button>
                  <br>
                </form>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> 
  </div>
</div>
<!-- imageModal -->

<div style="padding-right: 15px; padding-left: 15px;" >
  <div class="col-md-12">
    <br>
    <div class="panel panel-info %>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2"><h2><span class="fa fa-file-image-o" aria-hidden="true"></span> Images<small>   List</small></h2>
          </div>
          <div class="col-md-2 col-md-offset-7" > <h2>
          <button type="button" class="btn btn-success " data-toggle="modal" data-target="#searchModal">
              NEW IMAGE
          </button>
          </h2>
        </div>
        </div>
      </div>
      <div class="panel-body" >
       <table class="table  table-hover" > 
        <thead>
         <tr>
          <th>Id</th>
          <th>Repository</th>
          <th>VirtualSize</th>
          <th>Created</th>
          <th>Tag</th>
          <th>Controler</th>
         </tr>
        </thead>
      <tbody>
        <%- @images.each do |c| %>
        <tr>
          <td><%= button_to  c.info['id'][0,10]+"..." , image_path(c.info['id']), :method => :"get",  :class => "btn btn-info" %></td>
              <%- image = c.info['RepoTags'][0].split(':')[0] %>
              <% if !image.split("/")[1] %>
              <% imageurl = "_/"+image %>
              <% else %>
              <% imageurl = "u/"+image %> 
              <% end %>
          <td >
          <% c.info['RepoTags'].each do |r|%>
          <%= button_to r, "https://registry.hub.docker.com/"+imageurl+"/", :method => :"get",  :class => "btn btn-info", form: { target: '_blank'} %> <%=  %>
          <% end %>
          </td>
          <td><%= c.info['VirtualSize']/1024/1024 %> MB</td>

          <td><%= Time.at(c.info['Created']).strftime("%a %d %B at %I:%M%p") %> </td>
          <td>
            <form  accept-charset="UTF-8" action="/images" method="POST">
             <input type="hidden" value="rename"  name="format" class="form-control" placeholder="rename" type="text">  
             <input type="hidden" value="<%= c.id %>" name="id" class="form-control" placeholder="id" type="text"> <div class="row">
              </div>
               <div class="col-md-5">       
              <div class="form-group">
              <input  name="name" class="form-control" placeholder="repo/name" type="text">
              </div>
              </div>
              <div class="col-md-2"> 
              <div class="form-group"> 
              <button  name="commit" type="POST" value="images" class="btn btn-success" >tag</button>
              </div>
              </div>
              </div>
            </form>
          </td>
          <td>   
         <div class="row" style="width: 200px;">
             <div class="col-md-5"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#imageModal" data-img="<%= image %>">
                  Create container </button>
            </div>
            <div class="col-md-2 col-md-offset-3"><%= button_to "Delete", image_path(c.id, "delete"), :method => :"put",  data: {confirm: "Are you sure ?"}, :class => "btn btn-danger"%>
            </div>
          </div> 
           
          </td>
         </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
</div>
